<% include header %>
<form style="padding-left: 150px" method="post" action="/upload" enctype="multipart/form-data">
    <a href='javascript:void(0);' class="blueButton">选择头像</a>
    <input type="file" class="myFileUpload" multiple name="field1" />
    <div class="show"></div>
    <input style="margin: 50px 0 0 0px;width: 100px;height: 40px;background-color: #ccc;color: #fff;" type="submit" value="上传">
</form>
<% include footer %>
<script>
    $(document).ready(function()
    {
        $(".myFileUpload").change(function()
        {
            var arrs=$(this).val().split('\\');
            var filename=arrs[arrs.length-1];
            $(".show").html(filename);
        });
    });
</script>